body {
    background: linear-gradient(45deg, red, yellow, green);
  }

  .jumbotron {
    background-color: cornsilk;
  }

  .card-body {
    background-color: cornsilk;
  }
  
  a.socialMediaLink {
    position: fixed;
  }
